In [46]:
import pandas as pd

In [47]:
pd.__version__

'2.2.3'

In [48]:
data= {'milk price list':[25,50,250],'Curd price list':[15,30,350]}

In [49]:
data

{'milk price list': [25, 50, 250], 'Curd price list': [15, 30, 350]}

In [50]:
df=pd.DataFrame(data)
df

   milk price list  Curd price list
0               25               15
1               50               30
2              250              350

In [51]:
dataset_path = "C:/Users/Student.DESKTOP-KE7KF2C/Downloads/iris.csv"

In [52]:
df = pd.read_csv(dataset_path)
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [53]:
cd  "C:/Users/Student.DESKTOP-KE7KF2C/Downloads"

C:\Users\Student.DESKTOP-KE7KF2C\Downloads

In [54]:
df=pd.read_csv('iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [55]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

df.head(20)

In [56]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [57]:
df.tail(2)

     sepal.length  sepal.width  petal.length  petal.width    variety
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [58]:
df1=pd.read_csv('iris.csv',usecols=['sepal.length','variety'])
df1

     sepal.length    variety
0             5.1     Setosa
1             4.9     Setosa
2             4.7     Setosa
3             4.6     Setosa
4             5.0     Setosa
..            ...        ...
145           6.7  Virginica
146           6.3  Virginica
147           6.5  Virginica
148           6.2  Virginica
149           5.9  Virginica

[150 rows x 2 columns]

In [59]:
df2=df.set_index('variety')
df2

           sepal.length  sepal.width  petal.length  petal.width
variety
Setosa              5.1          3.5           1.4          0.2
Setosa              4.9          3.0           1.4          0.2
Setosa              4.7          3.2           1.3          0.2
Setosa              4.6          3.1           1.5          0.2
Setosa              5.0          3.6           1.4          0.2
...                 ...          ...           ...          ...
Virginica           6.7          3.0           5.2          2.3
Virginica           6.3          2.5           5.0          1.9
Virginica           6.5          3.0           5.2          2.0
Virginica           6.2          3.4           5.4          2.3
Virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [60]:
df2.to_csv('df_new.csv')

OSError: [Errno 28] No space left on device

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

In [ ]:
df.duplicated(subset='variety').sum()

In [ ]:
df=df.drop_duplicates()
df

In [ ]:
display(df.loc[(df.variety == 'Setosa')])

In [ ]:
df4=df.loc[47:49]
df4

In [ ]:
df5=df.iloc[45:49]
df5

In [ ]:
df6=df.iloc[45:49,0:3]
df6

In [ ]:
df4=df5.drop(index=[48],axis=0)
display(df4)

In [ ]:
df7=df4.drop('sepal.length',axis=1)
display(df7)

In [ ]:
df.columns

In [ ]:
df.rename(columns={'sepal.length':'sep.len','petal_length':'pet_len'})

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df2=df.dropna()